# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
pip-wheel-metadata/
*.egg-info/
dist/
build/
.eggs/

# NetProbe session logs
logs/
*.txt
!sample_output.txt

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Scapy
.scapy_history
